/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/

@import url('https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@font-face {
    font-family: BilboSwashCaps-Regular;
    font-style: normal;
    font-weight: 400;
    src: local("BilboSwashCaps-Regular"),
    url('fonts/BilboSwashCaps-Regular.ttf') format('ttf');

}
@font-face {
    font-family: 'Farsan';
    font-style: normal;
    font-weight: 400;
    src: local('Farsan Regular'), local('Farsan-Regular'), url(https://fonts.gstatic.com/s/farsan/v6/VEMwRoJ0vY_zsyzK3aWo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Racing Sans One'), local('RacingSansOne-Regular'), url(https://fonts.gstatic.com/s/racingsansone/v8/sykr-yRtm7EvTrXNxkv5jfKKyDCAJnDnapI.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(https://fonts.gstatic.com/s/spacemono/v6/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



body
{
    width: 1200px;
    margin: 0 auto;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/

.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;
font-weight: normal;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;

    border: 1px solid;
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    font-family: 'Space Mono',cursive;
    font-weight: bold;
    font-size: 1.17em;
    text-align: center;
    margin: 0;
}

.header__weather-text
{
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.1em;

    margin: 0;
}

.header__title
{
    overflow: visible;
    font-family: BilboSwashCaps-Regular, cursive;
    font-size: 80px;
    
    margin: 0;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;
font-size: 0.6em;
    margin: 0 30px;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
text-indent: 1em;
    font-size: 0.8em;
    text-align: justify;
    display: flex;
}
.content:first-line

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/

.article__title.article__title_font_racing{
    font-family: 'Racing Sans One',cursive;
    font-size: 2em;
    font-weight: bold;
}
.article__title.article__title_font_farsan{
    font-family: 'Farsan',cursive;
    font-size: 2.3em;
    font-weight: bold;
}
.article__title
{
    font-family: 'Six Caps', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
   text-indent: 1em;
    text-align: justify;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 4px;
}

.article__author
{
    display: block;
text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 10px;
}

.article__continue
{
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    display: block;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}
.article__image-caption{
    font-size: 0.8em;
    text-decoration: underline;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__subtitle
{
    font-family: "Times New Roman",cursive;
    text-align:center;
    font-size: 1.17em;
    font-weight: bold;
    margin: 10px 0;
}

.article_columns_two > div.article__content p
{
    column-count: 2;
    text-align: justify;
    column-gap: 15px;
    font-size: 0.8em;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__caption{
    text-align: right;
    font-size: 0.7em;
    text-transform: uppercase;
}
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    margin: 0;
}

.main-photo__desc
{
    font-size: 0.8em;
    margin-bottom: 20px;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 48%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
